<div class="page-header">
  <%= link_to "Edit", "/products/#{@product.id}/edit", :class => "btn btn-md btn-success pull-right" %>
  <h1>Product Details</h1>
</div>

<%= render 'details' %>

<%= render 'reviews' %>
